<section>
  <div class="flex">
    <div class="basis-[50%] mx-auto">
      <div>
        <h1 class="text-center">
          Highly Customized Company Stores. Printing, Promotional Products,
          Apparel - All in one
        </h1>
      </div>
      <div>
        <p class="text-center">
          It’s time for a more streamlined buying experience. Shop from our
          curated range of printing, packaging, promo and apparel products.
          Create a central hub for all things brand.
        </p>
      </div>
      <div class="flex mt-12">
        <button class="mx-auto">
          <a class="py-5 px-10" href="#"
            >GET STARTED <i class="bi bi-arrow-right"></i
          ></a>
        </button>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="basis-[63%] mx-auto">
      <div class="mt-20 mb-20">
        <div class="parent">
          <img class="image1" src="assets/hero-mar1.webp" />
          <img class="image2" src="assets/hero-mar.webp" />
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="basis-[65%] mx-auto">
      <div class="mb-10">
        <ul class="list-disc text-center list-inside">
          <li>TRUSTED BY BRANDS AROUND THE WORLD</li>
        </ul>
      </div>
      <div class="flex flex-row">
        <div class="basis-1/5 text-center">
          <img class="mx-auto trusted" src="assets/patri.webp" alt="" />
        </div>
        <div class="basis-1/5 text-center">
          <img class="mx-auto trusted" src="assets/google.webp" alt="" />
        </div>
        <div class="basis-1/5 text-center">
          <img class="mx-auto trusted" src="assets/goodrx.webp" alt="" />
        </div>
        <div class="basis-1/5 text-center">
          <img class="mx-auto trusted" src="assets/draftk.webp" alt="" />
        </div>
        <div class="basis-1/5 text-center">
          <img class="mx-auto trusted" src="assets/wayfr.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
