@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

section {
  padding: 100px 0px 50px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #f4f7ff 0%, #ffffff 100%);
  h1 {
    font-family: "Manrope", Sans-serif;
    font-size: 53px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -1.5px;
  }
  p {
    margin-top: 8px;
    margin-bottom: 17px;
    font-size: 22px;
    font-weight: 500;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  button {
    font-size: 14px;
    color: white;

    a {
      background-color: #007aff;
      letter-spacing: 0.25px;
      line-height: 14px;
      border-radius: 12px;
      font-weight: 500;
    }
  }
}

.parent {
  position: relative;
  //   top: 0;
  right: 100px;
}

.image2 {
  margin: auto;
  position: relative;
  top: 0;
  left: 5rem;
  height: 537px;
  width: 1026px;
}

.image1 {
  position: absolute;
  top: 30px;
  left: 67px;
  height: 480px;
  width: 270px;
  z-index: 1;
}

ul {
  // list-style-image: url("/assets/circle-fill.svg");
  font-family: "Manrope", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 2px;
  li::marker {
    color: #3a36db;
    font-size: 26px;
  }
  li::before {
    content: "";
    display: inline-block;
    // background-image: url("/assets/circle-fill.svg");
    background-repeat: no-repeat;
  }
}

.trusted {
  width: 136.8px;
}
