<nav>
  <div class="nav">
    <div class="flex px-3">
      <div class="basis-1/4">
        <img
          src="assets/logos/Optamark-logo-vector.svg"
          width="225"
          alt="Optamark logo"
        />
      </div>
      <div class="menu-items">
        <ul class="flex">
          <li class="p-3"><a href="#">ABOUT US</a></li>
          <li class="p-3">
            <a href="#">SOLUTIONS <i class="bi bi-chevron-down px-3"></i></a>
          </li>
          <li class=""><a href="#">PRICING</a></li>
          <li class="p-3"><a href="#">RESOURCES</a></li>
          <li class="p-3"><a href="#">BLOG</a></li>
          <li class="p-3">
            <a href="#"
              >INDUSTRIES WE SERVE <i class="bi bi-chevron-down px-3"></i
            ></a>
          </li>
          <li class="p-3"><a href="#">CONTACT US</a></li>
        </ul>
      </div>
      <!-- <div class="basis-1/5"></div> -->
      <div class="py-4 ml-80">
        <span>
          <a class="px-2" href="#"
            ><i class="bi bi-cart3"></i> Shop Now</a
          ></span
        >
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
